body {
    background-color: black;
    color: gray;
    font-family: Courier New;
    font-size: 16px;
}

::-moz-selection {
    background-color: darkgray;
    color: black;
}

::selection {
    background-color: darkgray;
    color: black;
}

button {
    background-color: black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    display: inline-block;
    cursor: pointer;
    color: gray;
    font-size: 16px;
    padding: 3px 26px;
    text-decoration: none;
    outline: none;
}

button:hover {
    color: lightgray;
    font-weight: bold;
}

button:active {
    position: relative;
    top: 1px;
}

button:disabled {
    background-color: darkgray;
    color: black;
    opacity: 50%;
    font-weight: normal;
    cursor: none;
}

.events-table {
    min-height: 400px;
}